[remote "neovim"]
    url = https://github.com/neovim/neovim.git
    fetch = +refs/heads/*:refs/remotes/neovim/*
[remote "origin"]
	url = git@github.com:huangyingw/neovim.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = neovim
    branch = master
[branch "master"]
    remote = neovim
    merge = refs/heads/master
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[gdif]
    ignore = install.sh
